<form style="margin-top:50px; width:50%;" *ngIf="person != null">
  <h3 style="margin-bottom:30px;">Update person details</h3>
  <div class="row mb-3">
    <label for="firstName" class="col-sm-3 col-form-label">First name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="person.firstName">
    </div>
  </div>
  <div class="row mb-3">
    <label for="lastName" class="col-sm-3 col-form-label">Last name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="person.lastName">
    </div>
  </div>
  <div class="row mb-3">
    <label for="enabled" class="col-sm-3 col-form-label">Enabled</label>
    <div class="col-sm-9">
      <div class="form-check form-switch" style="margin-top: 9px;">
        <input class="form-check-input" type="checkbox" role="switch" id="enabled" name="enabled"
          [(ngModel)]="person.isEnabled">
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="isValid" class="col-sm-3 col-form-label">Valid</label>
    <div class="col-sm-9">
      <div class="form-check form-switch" style="margin-top: 9px;">
        <input class="form-check-input" type="checkbox" role="switch" id="isValid" name="isValid"
          [(ngModel)]="person.isValid">
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="authorised" class="col-sm-3 col-form-label">Authorised</label>
    <div class="col-sm-9">
      <div class="form-check form-switch" style="margin-top: 9px;">
        <input class="form-check-input" type="checkbox" role="switch" id="authorised" name="authorised"
          [(ngModel)]="person.isAuthorised">
      </div>
    </div>
  </div>
  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-3 pt-0">Favorite Sports</legend>
    <div class="col-sm-9">
      <div class="form-check" *ngFor="let sport of availableSports">
        <input class="form-check-input" type="checkbox" name="gridRadios" [checked]="sport.isFavourited" (change)="sport.isFavourited = !sport.isFavourited">
        <label class="form-check-label">
          {{sport.name}}
        </label>
      </div>
    </div>
  </fieldset>
  <div class="row mb-3" style="margin-top: 50px;">
    <label for="buttons" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <button type="button" class="btn btn-danger" style="float:left" [routerLink]="['/']">Cancel</button>
      <button type="button" class="btn btn-success" style="float:right" (click)="updatePerson()">Save</button>
    </div>
  </div>
</form>