<div class="row" style="margin-top:50px;">
  <h3 style="margin-bottom:30px;">My Amazing Favourite American Sports App</h3>
  <div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  <div class="col-md-12" *ngIf="!loading">
    <table class="table">
      <thead id="tableHead">
        <tr>
          <th>Name</th>
          <th>Enabled</th>
          <th>Valid</th>
          <th>Authorised</th>
          <th>Palindrome</th>
          <th>Favourite Sports</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngIf="people == null || people.length == 0">
          <td colspan="6">No data</td>
        </tr>
        <tr *ngFor="let person of people" (click)="goToPerson(person.personId)" style="cursor:pointer;">
          <td>{{person.firstName}} {{person.lastName}}</td>
          <td>{{person.isEnabled}}</td>
          <td>{{person.isValid}}</td>
          <td>{{person.isAuthorised}}</td>
          <td>{{person.isPalindrome}}</td>
          <td>
            <span *ngIf="person.favouriteSports.length > 0">{{getFavouriteSportsColumn(person)}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>